.order-summary {
  background-color: #147a1c17;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

#shipping-address-form {
  width: 100%;
  margin-bottom: 30px;

  input, select {
    font-size: 0.85rem;
    padding: 3px 5px;
    border: solid 1px #cacaca;
  }

  label {
    font-size: 0.85rem;
  }
}

.confirm-payment-button {
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #fff;
  background-color: #54aab8;
 }

@media (min-width: 900px) {
  .order-summary {
    width: 36%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #shipping-address-form {
    width: 62%;
    margin: 0;
    padding: 10px 20px 15px;
    border-radius: 4px;
    border: solid 1px #147a1c3c;
  }
}
