<h1>Tea Show Page</h1>
<p><%= @tea.title %></p>
<p>Infusion Temperature:<%= @tea.tea_detail.infusion_temperature %></p>
<p>Infusion Time: <%= @tea.tea_detail.infusion_time %></p>
<p>Dosage: <%= @tea.tea_detail.dosage %></p>
