.main-banner {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: rgba(2, 92, 38, 0.639);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 50px 40px;
  box-sizing: border-box;

  img {
    height: 70%;
    width: 75%;
    position: absolute;
    bottom: -10%;
    right: -10%;
    border-radius: 50%;
    object-fit: cover;
    object-position: right bottom;
    z-index: 0;
  }
}

.carousel-slide {
  color: #fff;

  h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 200;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  a {
    font-size: 0.75rem;
    padding: 7px 12px !important;
    z-index: 10;
  }
}

.carousel-info {
  /* padding: 125px 100px; */
}

.carousel-link {
  padding: 10px 20px;
  background-color: rgba(2, 92, 38, 0.639);
  color: #fff;
  border-radius: 50px;
  display: inline-block !important;
}

.poop-test {
  height: 100%;
  padding: 50px 100px;

  h1 {
    font-size: 3rem;
    font-weight: 200;
    color: #fff;
  }
}

.test-graphic {
  width: 70%;
  height: 100%;
  border-radius: 0 200px 200px  0;
}

.introduction-container {
  margin-bottom: 50px;

  h3, p {
    color: #54aab8;
  }

  h3 {
    font-weight: 300;
  }

  p {
    font-weight: 200;
  }
}

.info-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 100px;
  /* background-color: rgba(120, 251, 120, 0.611); */
}

.info-banner-section {
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  margin: 20px 0;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.zoom-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.2s;
}

.info-text-div {
  position: absolute;
  left: 50%;
  bottom: -35px;
  background-color: rgb(247, 247, 247);
  height: 70px;
  width: 70%;
  transform: translateX(-50%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  padding: 10px;

  h3 {
    color: #54aab8;
    font-weight: 300;
  }

  div {
    width: 70%;
    border-bottom: solid 0.5px #54aab8;
    text-align: center;
    margin-bottom: 3px;
  }

  a {
    font-size: 0.85rem;
  }
}

@media (min-width: 900px) {
  .main-banner {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0;

    img {
      position: static;
      height: 100%;
      width: 40%;
      object-fit: cover;
      border-radius: 300px 0 0 300px;
    }
  }

  .carousel-slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
    color: #fff;

    h1 {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    a {
      font-size: 1rem;
      padding: 10px 20px !important;
    }
  }

  .carousel-info {
    padding: 125px 100px;
  }
  .info-banner {
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-banner-section {
    width: 30%;
    height: 100%;
  }

  .info-banner-section:hover .zoom-bg {
    transform: scale(1.02);
  }
}
