<div class="w-full h-full px-24 py-8">
  <div class="admin-header">
    <h1 class="text-3xl font-light mb-6 flex items-center"><span class="mr-2"><%= t('admin_dashboard') %> /</span> <strong class="text-xl font-light">Commande No. <%= @order.id %></strong></h1>
  </div>
  <div class="admin-info-board flex justify-between">
    <%= render partial: "admin/partials/admin_links" %>
  </div>
</div>
