<div class="py-6">
  <div class="info-section">
    <div class="info-subsection">
      <h1 class="large-header mb-6 text-4xl font-normal"><%= t('our_brand') %></h1>
      <p class="text-lg mb-6">MyWellnessTea, c’est une histoire qui commença dans la commune de Romont, dans le canton de Fribourg.</p>
      <p class="text-lg mb-6">Les plantes sont utilisées pour notre bien-être depuis des millénaires: c’est la plus vieille médecine du monde. Michel Reboh, pharmacien spécialisé dans les médecines naturelles depuis plus de 20 ans, ne leur est pas étranger...</p>
    </div>
    <%= image_tag "romont-1.webp" %>
  </div>
  <div class="continued-info">
    <div class="continued-info-subcontainer">
      <h1 class="small-header mb-4 text-2xl font-normal">L'essence MyWellnessTea</h1>
      <p class="text-base mb-4">Fort de ses connaissances sur les plantes et leurs multiples usages, il maîtrise tous les secrets de leurs bienfaits. C’est sa passion pour la botanique qui l’a poussé à créer MyWellnessTea : des tisanes 100 % naturelles et biologiques, préparées à la main en Suisse à partir de plantes cultivées sans pesticides.</p>
      <p class="text-base mb-4">Notre aventure repose sur un engagement fort envers la santé et le bien-être. C’est pourquoi nous avons conçu une gamme qui associe les vertus des plantes à une approche respectueuse de l’environnement. Chaque tasse de MyWellnessTea est une invitation à se reconnecter à la nature et à prendre soin de soi.</p>
      <p class="text-base mb-4">Nos tisanes ne sont pas de simples infusions : elles allient saveur et bienfaits, devenant ainsi des alliées précieuses au quotidien. Les plantes sélectionnées pour chacune de nos recettes regorgent de propriétés essentielles pour votre bien-être. Elles revitalisent, renforcent et apportent équilibre et énergie.</p>
      <p class="text-base">Notre mission est de vous proposer des tisanes d’exception pour vous accompagner dans les défis du quotidien. Convaincus du pouvoir des plantes sur notre santé, nous souhaitons partager avec vous les trésors que la nature nous offre!</p>
    </div>
  </div>
  <div class="info-section">
    <%= image_tag "tea-ingredients.png", class: 'mb-6' %>
    <div class="info-subsection">
      <h1 class="large-header mb-6 text-4xl font-medium">Une fabrication suisse</h1>
      <p class="text-lg mb-6">Chez MyWellnessTea, la qualité suisse est au cœur de tout ce que nous faisons. Mondialement reconnu pour sa qualité et sa précision, le savoir-faire suisse est profondément enraciné dans notre ADN en tant que marque. En optant pour de telles méthodes de fabrication, nous nous engageons à offrir des produits d'une pureté exceptionnelle. Cette tradition artisanale est transmise de génération en génération, et nous en sommes les héritiers fiers.</p>
    </div>
  </div>
  <div class="continued-info">
    <div class="continued-info-subcontainer">
      <h1 class="small-header mb-4 text-2xl font-normal" style="text-align: right">L’importance du “Made in Switzerland”</h1>
      <p class="text-base mb-4">Chaque étape de notre processus de production est soigneusement pensée et réalisée avec rigueur par notre équipe passionnée, depuis la sélection des ingrédients jusqu’au conditionnement. Emballés à la main avec soin et dévouement, nos produits offrent une expérience gustative unique.</p>
      <p class="text-base mb-4">Notre savoir-faire se traduit aussi par notre engagement en faveur de la durabilité. En privilégiant une fabrication artisanale, nous limitons notre empreinte carbone et adoptons une approche plus respectueuse de l’environnement.</p>
      <p class="text-base mb-4">Chaque sachet de thé fait l’objet d’un contrôle rigoureux afin de garantir une fraîcheur et une qualité irréprochables, respectant ainsi les normes suisses exigeantes en matière de sécurité alimentaire.</p>
      <p class="text-base">Chez MyWellnessTea, nous sommes convaincus que l’excellence est essentielle pour une expérience de thé unique. Notre savoir-faire suisse se combine à notre passion pour les ingrédients naturels d’exception. Chaque tasse est une véritable parenthèse de bien-être, une invitation à vous revitaliser. Laissez-vous séduire par la qualité suisse et savourez un moment de thé inoubliable!</p>
    </div>
  </div>
  <div class="info-section">
    <div class="info-subsection">
      <h1 class="large-header mb-6 text-4xl font-medium">Faire la différence</h1>
      <p class="text-lg mb-6">Chez MyWellnessTea, la qualité suisse est au cœur de tout ce que nous faisons. Mondialement reconnu pour sa qualité et sa précision, le savoir-faire suisse est profondément enraciné dans notre ADN en tant que marque. En optant pour de telles méthodes de fabrication, nous nous engageons à offrir des produits d'une pureté exceptionnelle. Cette tradition artisanale est transmise de génération en génération, et nous en sommes les héritiers fiers.</p>
      <p class="text-lg mb-6">C'est pourquoi nous nous engageons à n'utiliser que des plantes cultivées sans pesticides dans nos tisanes.</p>
    </div>
    <%= image_tag "picnic.jpg" %>
  </div>
  <div class="continued-info">
    <div class="continued-info-subcontainer">
      <h1 class="small-header mb-4 text-2xl font-normal">L’incomparable qualité MyWellnessTea</h1>
      <p class="text-base mb-4">La qualité de nos produits est au cœur de nos engagements. Nous collaborons étroitement avec nos producteurs afin de sélectionner les plantes les plus pures et les plus bénéfiques pour chacune de nos tisanes. Cultivées selon des pratiques biologiques et respectueuses de l’environnement, elles sont exemptes de tout produit chimique nocif. Cela garantit des infusions sans résidus de pesticides, offrant ainsi une expérience saine et naturelle à nos clients.</p>
      <p class="text-base mb-4">Nous accordons également une grande importance à la durabilité. En privilégiant des cultures sans pesticides, nous contribuons à préserver la biodiversité et à protéger notre écosystème. Conscients de notre impact sur l’environnement, nous mettons tout en œuvre pour limiter notre empreinte écologique à chaque étape de notre production.</p>
      <p class="text-base mb-4">Chaque mélange est élaboré pour soutenir naturellement votre bien-être. Riches en nutriments, antioxydants et actifs essentiels, nos plantes peuvent aider à renforcer l’immunité, favoriser la digestion, encourager la relaxation ou stimuler l’énergie, selon vos besoins. Nos tisanes sont une véritable invitation à prendre soin de vous, en toute simplicité et en harmonie avec la nature.</p>
    </div>
  </div>
</div>
