<div class="px-3 lg:px-64 py-12">
  <h1 class="mb-12 text-3xl"><%= t('privacy_policy') %></h1>
  <div class="mb-10">
    <h1 class="mb-2 font-light">1. <%= t('data_protection') %></h1>
    <p><%= t('data_protection_text') %></p>
  </div>
</div>
