.product-form-section {

  label {
    font-family: 'Fira Sans', serif;
  }

}

.form-images {
  height: 150px;
  width: 150px;
  border-radius: 4px;
  margin-right: 5px;
  object-fit: cover;
  object-position: center;
}

.image-input {
  height: 150px;
  width: 150px;
  border-radius: 4px;
  background-color: transparent;
  border: dotted 1px #000;
}

.tea-delete-button {
  color: rgb(202, 17, 17);
  border: solid 2px rgb(202, 17, 17);
  padding: 8px 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
