.footer-container {
  width: 100%;
  background-color: #66c4d3a1;
  box-sizing: border-box;
  padding: 40px 12px 10px 30px;
}

.info-container {
  margin-bottom: 50px;
}

.footer-container h6 {
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-container p {
  font-size: 0.85rem;
}

ul {
  display: block;
}

.footer-logo {
  height: 40px;
  width: 140px;
}

.payment-methods-1 {
  height: 40px;
  width: 40px;
}

.payment-methods-2 {
  height: 32px;
  margin-left: -10px;
}

.twint-logo {
  height: 30px;
  width: 40px;
}

#swiss-graphic {
  max-height: 125px;
  max-width: 150px;
  margin-bottom: 10px;
}

.newsletter-input {
  font-size: 0.85rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-right: 3px;
  font-family: 'Fira Sans', serif;

  &:focus {
    outline: none;
  }
}

.newsletter-button {
  font-size: 0.85rem;
  padding: 8px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #17801f93;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: 'Fira Sans', serif;
}

@media (min-width: 1000px) {
  .footer-container {
    width: 100%;
    background-color: #66c4d3a1;
    box-sizing: border-box;
    padding: 70px 60px 10px 50px;
  }

  .info-container {
    margin-bottom: 70px;
  }
}
