/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "~/stylesheets/reset";
 @import "~/stylesheets/components/navbar";
 @import "~/stylesheets/components/footer";
 @import "~/stylesheets/components/drawer";
 @import "~/stylesheets/pages/home";
 @import "~/stylesheets/pages/contact";
 @import "~/stylesheets/pages/our_brand";
 @import "~/stylesheets/teas/index";
 @import "~/stylesheets/teas/show";
 @import "~/stylesheets/devise/auth_form";
 @import "~/stylesheets/devise/user_dashboard";
 @import "~/stylesheets/admin/admin_form";
 @import "~/stylesheets/admin/admin_dashboard";
 @import "~/stylesheets/orders/orders";


 html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(247, 247, 247);
  overscroll-behavior: none;
 }

 main {
  margin-top: 7vh;
  flex: 1;
  /* padding: 0 40px; */
  min-height: calc(100vh - 50px);
 }

 p, a {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
 }

 @media (min-width: 900px) {
  main {
    margin-top: 10vh;
    /* padding: 10px 100px; */
  }
 }
