h1, p {
  margin: 0;
}

p, a, h6 {
  font-family: 'Fira Sans', serif;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
select {
  background-color: transparent;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: rgb(169, 209, 248);
  border-radius: 4px;
  padding: 10px 20px;

  &:hover {
    cursor: pointer
  }
}


.info-card {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.481);
}
