h1 {
  font-size: 1.5rem;
  margin: 0;
}

h1, p, a {
  font-family: 'Fira Sans', serif;
}

h3, h6, h4 {
  font-family: 'Fira Sans', serif;
  font-weight: 200;
  /* color: #54aab8; */
}

i {
  font-size: 0.85rem;
  font-weight: 200;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="checkbox"],
select {
  background-color: transparent;
  border-radius: 4px;
}

select {
  font-size: 0.8rem;
  padding: 5px 40px 5px 10px;
}

input[type="submit"] {
  background-color: rgb(169, 209, 248);
  border-radius: 4px;
  padding: 10px 20px;
  font-family: 'Fira Sans', serif;

  &:hover {
    cursor: pointer
  }
}

.info-card {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.481);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #54aab8;
}

/* for active links */
.active-link {
  color: #54aab8;
  text-decoration: underline;
}
